# Creating a Table with PostgreSQL

In [55]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\ejjid\anaconda3\lib\site-packages (2.9.9)

In [56]:
import psycopg2

# Creating a connection to the database

In [76]:
try: 
    conn = psycopg2.connect("host=localhost dbname=postgres user=postgres password=Donika@123")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

In [77]:
#Use the connection to get a cursor that can be used to execute queries.
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

In [78]:
#Set automatic commit to be true so that each action is committed without having to call conn.commit() after each command.
conn.set_session(autocommit=True)

# Creating a database

In [79]:
try: 
    cur.execute("create database my_first_db")
except psycopg2.Error as e:
    print(e)

database "my_first_db" already exists

# Adding the database name in the connect statement and then closing the connection to the default database, reconnect to the new database, and getting a new cursor.

In [80]:

try: 
    conn.close()
except psycopg2.Error as e:
    print(e)
    
try: 
    conn = psycopg2.connect("host=localhost dbname=my_first_db user=postgres password=Donika@123")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
    
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

conn.set_session(autocommit=True)

# Create Table for students which includes below columns


student_id

name

age

gender

subject

marks

In [81]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS studentsbio (student_id int, name varchar,\
    age int, gender varchar, subject varchar, marks int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

# Insert the following two rows in the table
First Row: 1, "sandhya", 23, "Female", "Python", 85

Second Row: 2, "shiva", 22, "Male", "Java", 86

Third Row: 3, "Darshil", 25, "Male" , "DataEngineering", 98

In [82]:
try: 
    cur.execute("INSERT INTO studentsbio (student_id, name, age, gender, subject, marks) \
                 VALUES (%s, %s, %s, %s, %s, %s)", \
                 (1, "sandhya", 23, "Female", "Python", 85))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO studentsbio (student_id, name, age, gender, subject, marks) \
                  VALUES (%s, %s, %s, %s, %s, %s)",
                  ( 2, "Shiva", 22, "Male", "Java", 86))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try:
    cur.execute('INSERT INTO STUDENTSbio (student_id, name, age, gender, subject, marks)\
                VALUES (%s, %s, %s,%s,%s,%s)',
                 (3, 'darshil', 25, "male","dataengineering",98))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)

In [83]:
#Validate data was inserted into the table.
try:
    cur.execute("SELECT * FROM studentsbio;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'sandhya', 23, 'Female', 'Python', 85)
(2, 'Shiva', 22, 'Male', 'Java', 86)
(3, 'darshil', 25, 'male', 'dataengineering', 98)

# close the cursor and connection.

In [75]:
cur.close()
conn.close()